<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Home - TempatKita</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/logo-icon.svg">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="assets/styles/core.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="src/plugins/jquery-steps/jquery.steps.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>

<body class="login-page">

    <!-- Contents -->
    <div class="container w-50 mb-5 m-auto py-5 mt-3">
		<div class="pd-20 card-box">
			<div class="m-auto text-center mb-5">
				<img src="assets/images/app-logo.svg" alt="TempatKita" style="width: 45%;">
			</div>
			<div class="mt-3 text-center">
				<p>Selamat datang di platform kursus online kami! Kami dengan senang hati mempersembahkan koleksi kursus gratis terbaik yang kami ambil dari sumber-sumber terpercaya, termasuk rekomendasi dari video YouTube yang sangat direkomendasikan. Kami berkomitmen untuk memberikan akses pendidikan berkualitas tanpa biaya, sehingga Anda dapat mengembangkan keterampilan dan pengetahuan Anda secara mudah dan terjangkau. Jelajahi berbagai topik menarik, pelajari dari ahli industri, dan tingkatkan potensi Anda dengan kursus-kursus yang telah teruji. Bergabunglah sekarang dan mulailah perjalanan belajar Anda tanpa batas!</p>
			</div>
        </div>
        <div class="mt-3 text-center">
            <a href="/register" class="btn btn-primary">Register</a>
            <a href="/login" class="btn btn-secondary">Login</a>
        </div>
    </div>
    <!-- End Contents -->
	
	<!-- js -->
	<script src="assets/scripts/core.js"></script>
	<script src="assets/scripts/script.min.js"></script>
	<script src="assets/scripts/process.js"></script>
	<script src="assets/scripts/layout-settings.js"></script>
	<script src="src/plugins/jquery-steps/jquery.steps.js"></script>
	<script src="assets/scripts/steps-setting.js"></script>
</body>

</html>